@model SpravaUdalosti.Models.Event

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-floating py-2">
                <label asp-for="NazevUdálosti" class="control-label opacity-50">Název akce</label>
                <input asp-for="NazevUdálosti" class="form-control" />
                <span asp-validation-for="NazevUdálosti" class="text-danger"></span>
            </div>
            <div class="form-floating py-2">
                <label asp-for="PopisUdalosti" class="control-label opacity-50">Popis akce</label>
                <input type="text" asp-for="PopisUdalosti" class="form-control"></input>
                <span asp-validation-for="PopisUdalosti" class="text-danger"></span>
            </div>
            <div class="form-floating py-2">
                <label asp-for="DatumUdalosti" class="control-label opacity-50">Datum</label>
                <input asp-for="DatumUdalosti" class="form-control" />
                <span asp-validation-for="DatumUdalosti" class="text-danger"></span>
            </div>
            <div class="form-floating py-2">
                <label asp-for="MistoKonani" class="control-label opacity-50">Místo konání</label>
                <input asp-for="MistoKonani" class="form-control" />
                <span asp-validation-for="MistoKonani" class="text-danger"></span>
            </div>
            <div class="form-floating py-2">
                <label asp-for="MaxPocetUcastniku" class="control-label opacity-50">Max. počet účastníků</label>
                <input asp-for="MaxPocetUcastniku" class="form-control" />
                <span asp-validation-for="MaxPocetUcastniku" class="text-danger"></span>
            </div>
            <div class="form-floating py-2">
                <label asp-for="InterpretId" class="control-label opacity-50">Interpret</label>
                <select asp-for="InterpretId" class="form-control" asp-items="ViewBag.InterpretId"></select>
                <span asp-validation-for="InterpretId" class="text-danger"></span>
            </div>
            <div class="form-floating py-2">
                <input type="submit" value="Uložit" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-secondary">Zpátky na seznam akcí</a>
            </div>
            <input asp-for="ZucastniSe" type="hidden"/>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
