@model SpravaUdalosti.Models.Interprets

@{
    ViewData["Title"] = "Create";
}

<h1>Vytvořit</h1>

<h4>Nový interpret</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating py-2">
                <label asp-for="NazevInterpreta" class="control-label opacity-50">Název interpreta</label>
                <input asp-for="NazevInterpreta" class="form-control" />
                <span asp-validation-for="NazevInterpreta" class="text-danger"></span>
            </div>
            <div class="form-floating py-2">
                <label asp-for="PopisInterpreta" class="control-label opacity-50">Popis interpreta</label>
                <input asp-for="PopisInterpreta" class="form-control" />
                <span asp-validation-for="PopisInterpreta" class="text-danger"></span>
            </div>
            <div class="form-floating py-2">
                <label asp-for="HudebniZanr" class="control-label opacity-50">Hudební žánr</label>
                <select asp-for="HudebniZanr" class="form-control">
                <option selected disabled>Vyberte hudební žánr</option>
                    @foreach(var item in Enum.GetValues(typeof(SpravaUdalosti.Models.HudebniZanr)))
                    {
                        <option value="@item">@item</option>
                    })
                </select>
                <span asp-validation-for="HudebniZanr" class="text-danger"></span>
            </div>
            <div class="form-floating py-2">
                <label asp-for="ZemePuvodu" class="control-label opacity-50">Země původu</label>
                <input asp-for="ZemePuvodu" class="form-control" />
                <span asp-validation-for="ZemePuvodu" class="text-danger"></span>
            </div>
            <div class="form-floating py-2">
                <input type="submit" value="Uložit" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-secondary">Zpátky na výpis interpretů</a>
            </div>
        </form>
    </div>
</div>


