@model SpravaUdalosti.Models.Interprets

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Interprets</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-floating py-2">
                <label asp-for="NameOfInterpret" class="control-label opacity-50">Název interpreta</label>
                <input asp-for="NameOfInterpret" class="form-control" />
                <span asp-validation-for="NameOfInterpret" class="text-danger"></span>
            </div>
            <div class="form-floating py-2">
                <label asp-for="DescriptionOfInterpret" class="control-label opacity-50">Popis interpreta</label>
                <input asp-for="DescriptionOfInterpret" class="form-control" />
                <span asp-validation-for="DescriptionOfInterpret" class="text-danger"></span>
            </div>
            <div class="form-floating py-2">
                <label asp-for="MusicGenre" class="control-label opacity-50">Hudební žánr</label>
                <select asp-for="MusicGenre" class="form-control">
                    <option selected disabled>Vyberte hudební žánr</option>
                    @foreach (var item in Enum.GetValues(typeof(SpravaUdalosti.Models.MusicGenre)))
                    {
                        <option value="@item">@item</option>
                    })
                </select>
                <span asp-validation-for="MusicGenre" class="text-danger"></span>
            </div>
            <div class="form-floating py-2">
                <label asp-for="CountryOfOrigin" class="control-label opacity-50">Země původu</label>
                <input asp-for="CountryOfOrigin" class="form-control" />
                <span asp-validation-for="CountryOfOrigin" class="text-danger"></span>
            </div>
            <div class="form-floating py-2">
                <input type="submit" value="Uložit" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-secondary px-2">Zpátky na seznam interpretů</a>
            </div>
        </form>
    </div>
</div>



