@{
    ViewData["Title"] = "Úvodní Stránka";
}

<div class="text-center">
    <h1 class="display-4">Vítejte</h1>
    <p class="py-5">Vítejte na mém ukázkovém projektu, který jsem vytvořil během jednoho dne. I přes omezený čas doufám, že vás mé dovednosti a přístup k řešení problémů zaujmou a osloví.</p>
</div>
