@{
    ViewData["Title"] = "Úvodní Stránka";
}

<div class="text-center">
    <h1 class="display-4">Vítejte</h1>
    <p class="py-5">Vítejte na mém ukázkovém projektu, který jsem vytvořil během jednoho dne. I přes omezený čas doufám, že vás mé dovednosti a přístup k řešení problémů zaujmou a osloví.</p>
    <p><strong>Pro zkoušku:</strong> Při registraci se první uživatel založí s právy Admina, další uživatelé jako Users. Admin má možnost měnit role uživatelům</p>
</div>
